// config
$body-font-guide: (
  // body1
  body1-r: (
    fs: 18,
    lh: 170%,
    fw: 400
  ),
  body1-m: (
    fs: 18,
    lh: 170%,
    fw: 500
  ),
  body1-b: (
    fs: 18,
    lh: 170%,
    fw: 700
  ),
  // body2
  body2-r: (
    fs: 16,
    lh: 172%,
    fw: 400
  ),
  body2-m: (
    fs: 16,
    lh: 172%,
    fw: 500
  ),
  body2-b: (
    fs: 16,
    lh: 172%,
    fw: 700
  ),
  // body3
  body3-r: (
    fs: 14,
    lh: 172%,
    fw: 400
  ),
  body3-m: (
    fs: 14,
    lh: 172%,
    fw: 500
  ),
  body3-b: (
    fs: 14,
    lh: 172%,
    fw: 700
  ),
  // body4
  body4-r: (
    fs: 12,
    lh: 172%,
    fw: 400
  ),
  body4-m: (
    fs: 12,
    lh: 172%,
    fw: 500
  ),
  body4-b: (
    fs: 12,
    lh: 172%,
    fw: 700
  ),
);
